body{font-family: 'Raleway', sans-serif;background: #ffffff}
p,h2{font-family: 'Raleway', sans-serif;text-align: center;}
h2{font-weight: bolder;}
.img-b{
    width: 200px;
    display: block;
    margin: auto;
}
input[type="submit"],input[type="button"]{
    background: transparent;border: none;
}
.btn-primary{}
/*Configurações do dashboard*/
#wrapper{background: transparent}
#page-wrapper{background: transparent}
.navbar-inverse{border-top:#5e666a;border-bottom: 1px solid #5e666a;}
.side-nav{ background-color: #f8f8f8;}
.navbar-default .navbar-brand{color:#5e666a;}
.navbar-right > li > a{color: #5e666a;}
.navbar-right > li > a:hover, .navbar-right > li > a:focus{color: #ffffff; background: #444444 !important;}
.navbar-collapse .side-nav > li > a{color:#5e666a;}
.navbar-collapse .side-nav > li > a:hover,.navbar-collapse .side-nav > li > a:focus{color: #ffffff;background: #444444 !important;}